.container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.container .ant-spin-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 60%;
  padding: 24px;
  display: flex;
  height: 450px;
  min-width: 300px;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 10px 2px #f2f2f2;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
}

.login-header {
  display: flex;
  flex-direction: column;
}

.login-header h1 {
  margin-bottom: 0px;
}

.logo {
  width: 200px;
  height: 200px;
  align-self: center;
}

.login-inputs-container p {
  height: 24px;
  color: tomato;
  margin-bottom: 0px;
}

.login-footer {
  display: flex;
  flex-direction: column;
}
